html {

  margin: 0;
  padding-right: 30px;
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
#viewport {
  width: 1920px;
  height: 1080px;
  position: relative;
  border: 37px solid #dd8d57;
  overflow: hidden;
  padding-left: 45px;
  background-color: #dd8d57;
  overflow: hidden;
}

#image_container {
  position: absolute;
  width: 850px; /* Cambia esto al tamaño deseado */
  height: 800px; /* Cambia esto al tamaño deseado */
  overflow: hidden; /* Esconde las partes de la imagen que excedan el contenedor */
  right: -200px;
  top: 250px;
}

#team_image {
  width: 70%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: 70%; /* La imagen ocupará el 100% del alto del contenedor */
  object-fit: cover;
  opacity: 1; /* Asegura que la imagen cubra todo el contenedor, manteniendo su relación de aspecto */
  /*filter: drop-shadow(5px 10px 5px rgb(255, 196, 0));  */
}

#cover {
  position: absolute;
  width: 973px; /* Debe coincidir con las dimensiones de #team_image */
  height: 973px; /* Debe coincidir con las dimensiones de #team_image */
  scale: 69%;
  object-fit: cover;
  right: -7%;
  top: 10%;
  filter: drop-shadow(5px 5px 5px rgb(123, 123, 247));
  opacity: 0;
}

.transition {
  transition: opacity 0.5s;
}


#icono {
  position: absolute;
  top: 310px;
  left: 900px;
  
  /*width: 1000%; /* Aumenta el tamaño inicial de la imagen */
  height: auto;
  display: none;
}

#question_number{
    scale: 58%;
    position: absolute;
    top: 480px;
    left: 510px;
    filter: drop-shadow( 5px 13px 13px #1c64e9);

}

#option_four{
    top: 830px;
    left: 500px;
    scale: 60%;
    position: absolute;
    filter: drop-shadow( 5px 5px 5px magenta);
}
#option_three{
    top: 830px;
    left: -60px;
    scale: 60%;
    position: absolute;
    filter: drop-shadow( 5px 5px 5px magenta);
}

#option_two{
    top: 670px;
    left: 500px;
    scale: 60%;
    position: absolute;
    filter: drop-shadow( 5px 5px 5px magenta);
}
#option_one{
    top: 670px;
    left: -60px;
    scale: 60%;
    position: absolute;
    filter: drop-shadow( 5px 5px 5px magenta);
}

.highlight img {
    filter: drop-shadow( 5px 5px 30px gold);
    transform: scale(1.1);
    z-index: 1;
  }
  @font-face {
    font-family: 'Chilanka', sans-serif;
    src: url('/Chilanka/Chilanka-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


  .option-letter{
    position: absolute;
    font-size: 70px;
    color: #ffffff;
    font-family: 'Chilanka', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
    /* Ajusta estos valores para posicionar la letra correctamente sobre las imágenes */
    top: 57%;
    left: 8%; /* Ajusta este valor para cambiar la posición horizontal de la letra */
    transform: translateY(-50%);
  }
  .option-text {
    position: absolute;
    font-size: 68px;
    color: #ffffff; /* Cambia el color del texto a blanco */
    font-family: 'Chilanka', sans-serif; /* Usa la fuente personalizada 'Chilanka' */
    font-weight: bold; /* Establece el texto en negrita */
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px #000000;; /* Agrega una sombra negra al texto para mejorar la legibilidad */
    max-width: 1500px;
    text-align: left;
    /* Ajusta estos valores para posicionar el texto correctamente sobre las imágenes */
  
    top: 33%;
    left: 23%;
  }

   .fade-out {
      opacity: 0.3;
      
    }
  #question{
    position: absolute;
    font-size: 55px;
    color: rgb(71, 33, 206);/*#ff2903; /* Cambia el color del texto a blanco */
    font-family: 'El Messiri', sans-serif; /* Usa la fuente personalizada 'Chilanka' */
    font-weight: bolder; /* Establece el texto en negrita */
    letter-spacing: 1.5px;
    /*text-shadow: 1px 1px 1px #d816ff; /* Agrega una sombra negra al texto para mejorar la legibilidad */
    /* Ajusta estos valores para posicionar el texto correctamente sobre las imágenes */
    top: 113px;
    left: 60px;
    /*transform: translate(-50%, -50%);*/
    max-width: 60%; /* Establece un ancho máximo para el texto */
    word-wrap: break-word; /* Permite que las palabras se dividan en varias líneas si el texto supera el ancho máximo */
    line-height: 1.3; 
  }

#question_number_text {
  font-size: 60px; /* Tamaño de la fuente */
  color: #1c64e9;/*#ff2903; /* Cambia el color del texto a blanco */
  font-family: 'Chilanka', sans-serif; /* Usa la fuente personalizada 'Chilanka' */
  font-weight: 10px bolder; /* Establece el t Color del texto, puedes cambiarlo según lo necesites */
  position: absolute;
  top: 590px; /* Ajusta estos valores según la posición deseada */
  left: 613px; /* Ajusta estos valores según la posición deseada */
}
  
.option-container {
  position: relative;
}




